<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Recipe Book</a>
      </div>
      <ul class="nav navbar-nav">
        <li  routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}">
          <a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active" ><a routerLink='/shopping-list'>Shopping List</a></li>
        <li routerLinkActive="active" ><a routerLink='/auth'>Auth</a></li>
      </ul>
      <ul  class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
            <a class="dropdown-toggle" data-toggle="dropdown" >Manage
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ><a (click) = "addAllRecipes()">Add</a></li>
              <li ><a (click) = "fetchRecipes()">Fetch</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </nav>