<div class="row">
    <div class="col-xs-12">
        <h3>Name</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img src="" >
    </div>
</div>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">To Shopping List</a></li>
      <li><a href="#">Edit Recipe</a></li>
      <li><a href="#">Delete Recipe</a></li>
    </ul>
  </div> 
<div class="row">
    <div class="col-xs-12">
        <p>Description</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul>
            <li>
                Ingredients
            </li>
        </ul>
    </div>
</div>